	<section>
		<div class="container">
			<div class="row">
				<%= render "shared/filter" %>
				
				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<%= image_tag @product.featured_image(:large)%>
<!-- 								<h3>ZOOM</h3> -->
							</div>
<!-- 							<div id="similar-product" class="carousel slide" data-ride="carousel">
								 -->
								  <!-- Wrapper for slides -->
<!-- 								    <div class="carousel-inner">
										<div class="item active">
										  <a href=""><%#= image_tag @product.images.first.photo.url(:small)%></a>
										</div>
										<div class="item">
										  <a href=""><%#= image_tag @product.images.second.photo.url(:small)%></a>
										</div>
										<div class="item">
										  <a href=""><%#= image_tag @product.images.third.photo.url(:small)%></a>
										</div>
										
									</div> -->

								  <!-- Controls -->
<!-- 								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div> -->

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="/assets/product-details/new.jpg" class="newarrival" alt="" />
								<h2><%= @product.name%></h2>
								<img src="/assets/product-details/rating.png" alt="" />
								<span>
									<span>US $59</span>
									<label>Quantity:</label>
									<input type="text" value="3" />

								</span><br>
								<%if signed_in?%>
									  <%=link_to "", class: "btn btn-fefault cart", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do%>
									    <i class="fa fa-shopping-cart"></i>
									    <span><%=@cart_action%></span> Cart
									  <%end%>
									<%end%>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<a href=""><img src="/assets/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->				
				</div>
			</div>
		</div>
	</section>