<!DOCTYPE html>
<html>
<head>
  <title>Ecomm</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
 
  <%= csrf_meta_tags %>

</head>
<body>
<header>
	<%#= render 'layouts/headerTop' %>
	<%= render 'layouts/headerMiddle' %>
	<%= render 'layouts/headerBottom' %>
</header>

<%= yield %>
	<%= render 'layouts/footer' %>

   <%= javascript_include_tag "application"%>
</body>
</html>
